:root {
    --bg-color: white
}

body {
    background-color: var(--bg-color);
}

.logo-information-text{
    color: red;
}

.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-button {
    height: 40px;
    margin-left: 5px;
    background-color: white;
    border: 0;
}

.signup-button {
    
    background-color: #ff4419;
    color: white;
}

.sub-nav{
    display: flex;
    gap: 0px;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.sub-nav-item{
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: #eaf1f1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    
}

.hero-feature-section{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.hero-feature-box {
    background-color: var(--bg-color);
    border: 4px solid black;
    padding: 20px;
    box-shadow: 12px 12px 0 black;
    height: 210px;
    width: 210px;
}

.feature-box-title{
    display: flex;
    justify-content: space-between;
}

.price-sub{
    font-size: small;
}

.feature-box-buy-btn{
    background-color: #1d78f0;
    color: white;
    border: 0;
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.anchor{
    color: #1d78f0;
}